<%= form_for @story do |f| %>
    <p><%= f.label :title %>     <br>
    <%= f.text_field :title %>   </p>
      <p>  <%= f.label :Description%>
        <%= f.text_area :description %></p> <br>
    <%= f.submit %>

<% end %>